html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    background-color: #cb86f7 ;
}

body {

    margin: 0px;
    padding: 0px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 2em;
  }  

.recipe {
    justify-self: left;
}

main {

    padding: 16px 16px 16px 16px;

}

footer {
    margin: 10px;
    padding: 20px;
    background-color: #cb86f7;
}

img {
    height:  200px;
    border: 1px solid black;
}

nav {

    border: 1px solid black;
    padding: 16px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #B4CF66;
}


h1 {
    color: #146152;
    font-size: 200%;
}

th {
    font-style: bold;
}
